.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 65px;
    width: 395px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #978fa0;
    width: 90px;
    height: 70px;
    margin: 6px;
}
button:hover{
    background-color: white;
}
.calculator{ 
    border: 4px solid #13695d;
    background-color: #ff99f7;
    padding: 5px;
    border-radius: 30px;
    display: inline-block;
    
}

h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.back{
    font-size: 30px;
}